@use '../abstracts';

%authLayoutContainer {
  @include abstracts.mediaQueries('mobileS') {
    @include abstracts.displayFlex(center,center,column nowrap);
    @include abstracts.boxProperty(abstracts.remsize(300), abstracts.remsize(500),auto,abstracts.remsize(0));
    box-shadow: 3px 3px 5px;

    h1 {
      @include abstracts.boxProperty(100%, abstracts.remsize(100),'', abstracts.remsize(5));
      @include abstracts.displayFlex(center,center);
      color: abstracts.$white;
      font-size:1.5rem;
      font-weight:600;
    };
  };


  @include abstracts.mediaQueries('laptop') {
    width: abstracts.remsize(350);
  };

};

%authLayoutWrapper {
  @include abstracts.mediaQueries('mobileS') {
    @include abstracts.boxProperty(100%, 40%,auto,abstracts.remsize(5), abstracts.$blue);
    @include abstracts.displayFlex(center,center);
  };
};

// %authLayoutContainer {
//   @extend %signinLayoutContainer;
//
// };
//
// %authLayoutWrapper {
//   @extend %signinLayoutWrapper;
// };
//
// %authLayoutContainer {
//   @extend %signinLayoutContainer;
//   height: 700px;
//
// };
//
// .authLayoutWrapper {
//   background-color: red;
//   @extend %signinLayoutWrapper;
//   // height: 45%;

