@use '../abstracts';

.cartContainer {
  @include abstracts.boxProperty(abstracts.remsize(120),abstracts.remsize(50),abstracts.remsize(10));
  @include abstracts.displayFlex(center,center);
  position:relative;
   a {
    @include abstracts.boxProperty(100%,80%);
    @include abstracts.displayFlex(center,center);
    text-align:center;
    color:white;
    text-decoration:none;
   };

 };
