@use '../abstracts';

.hamburger {
  @include abstracts.mediaQueries('mobileS') {
    @include abstracts.boxProperty(abstracts.remsize(40),abstracts.remsize(40));
    @include abstracts.displayFlex(center,center);
    cursor:pointer;
    // background: red;

    &.open {
      // display: none;

      svg#menuOpenIcon {
        display:inline-block;
      }
      svg#menuIcon {
        display:none;
      }
    }

    .menuOpenIcon {
      display:none;
    };


  };

  @include abstracts.mediaQueries('laptop') {
      display:none;
      #menuOpenIcon,#menuIcon {
      display:none;
    }
  };
};
