@use '../abstracts';

.logo {
  @include abstracts.mediaQueries('mobileS') {
    @include abstracts.boxProperty(abstracts.remsize(50),abstracts.remsize(30));
    @include abstracts.displayFlex(center,center);
    // background:white;
    font-size:.9rem;
    border:1px solid lightblue;

    a {
    color:white;
      // @include abstracts.boxProperty(100%,100%,auto);
        text-decoration: none;
      }

  }
};
