@use "../abstracts";

.navBar {
  @include abstracts.mediaQueries('mobileS') {
    height:100%;
    list-style:none;
     display:none;
     position:relative;
     background:yellow;

      &.open {
        @include abstracts.boxProperty(abstracts.remsize(280), 400px, '', remsize(0),abstracts.$dark);
        @include abstracts.displayFlex(space-around, center,column nowrap);
        position:absolute;
        top:80px;
        right:0;
        #menuOpenIcon {
          display:inline-block;
        };
        @include abstracts.animations(navAnime, .3s, ease-in-out,forwards);

        @keyframes navAnime {
          0% {right:-500px}
          100% {right:0}
        }
      }
  }

  @include abstracts.mediaQueries('laptop') {
    @include abstracts.boxProperty(abstracts.remsize(400), 100%, '', abstracts.remsize(0));
    @include abstracts.displayFlex(space-between, center, row nowrap);
    position:relative;
  };

  @include abstracts.mediaQueries('laptopM') {
    width: abstracts.remsize(450);
  };
};

