@use "../abstracts";

.orderLinkContainer {
  @include abstracts.mediaQueries('mobileS') {
    @include abstracts.boxProperty(remsize(170),remsize(50));
    position:relative;

    .orderLinkHoverWrapper {
      @include abstracts.boxProperty(abstracts.remsize(300),abstracts.remsize(200),'',abstracts.remsize(5),abstracts.$purple);
      @include abstracts.displayFlex(space-between,center,column nowrap);
      display:none;
      position:absolute;
      top:65px;
      left:-60px;

      li {
        @include abstracts.boxProperty(100%,100%);
        @include abstracts.displayFlex(center,center);
        position:relative;

        a {
          @include abstracts.boxProperty(100%,80%);
          @include abstracts.displayFlex(center,center);
          text-align:center;
          color:white;
          text-decoration:none;
         };
       };
    };
  };

  @include abstracts.mediaQueries('laptop') {
    &:hover {
      position:relative;
      
      .orderLinkHoverWrapper {
        @include abstracts.animations(OpacityKeyframe, 1s, ease-in-out, forwards);
        @include abstracts.opacityKeyframe;
        display:inline-block;
        background:grey;
        position:absolute;
      };
    };
  };
};


