@use '../../styles/abstracts';

.searchItems {
  @include abstracts.mediaQueries('mobileS') {
    @include abstracts.boxProperty(abstracts.remsize(130),abstracts.remsize(40),'',abstracts.remsize(5));
    background:yellow;
    @include abstracts.displayFlex(space-around,center,row nowrap);
    dispplay:none;

    .headerSearchIconWrapper {
      width:25%;
      height:80%;
      padding-Left:5px;

    }

  };

  .searchItemsForm {

    @include abstracts.mediaQueries('mobileS') {
      @include abstracts.boxProperty(70%, 80%,auto,abstracts.remsize(0));
      @include abstracts.displayFlex(flex-start,center,row nowrap);
      // background:blue;
      // display:none;

      input {
        @include abstracts.boxProperty(abstracts.remsize(100),100%);
          display:none;
      background:blue;
        text-align: center;
        font-size: 1rem;
        border:none;
        outline:none;
      };
    };

    @include abstracts.mediaQueries('mobileL') {
      width: abstracts.remsize(400);

      input {
        width: abstracts.remsize(400);
      };
    };

    @include abstracts.mediaQueries('tablet') {

    };

    @include abstracts.mediaQueries('laptop') {
      width: abstracts.remsize(400);

      input {
        width: abstracts.remsize(400);
        animation-play-state: paused;

        &:hover {
          @include abstracts.animations(scaling,.3s,ease-in-out,forwards);
          animation-play-state: running;

          @keyframes scaling {
            0% {scale:1}
            100% {scale:1.1}
          }
        }
      }
    };

    @include abstracts.mediaQueries('laptopM') {
      width: abstracts.remsize(500);
    };

    @include abstracts.mediaQueries('laptopL') {
      width: abstracts.remsize(600);

      input {
        width: abstracts.remsize(500);
      }
    };
  };

  button {
    @include abstracts.mediaQueries('mobileS') {
      background: abstracts.$dark;
      outline:none;
      border:none;
    };

    @include abstracts.mediaQueries('laptop') {
      width: abstracts.remsize(100);
    };
  };
};


