@use '../../styles/abstracts';

homeLayout {
  box-sizing: border-box;
  display: grid;

  @include mediaQueries('mobileS') {
    @include boxProperty(100%,abstracts.remsize(1500),'auto','0px', abstracts.$red)};
    grid-template-columns:repeat(10, 1fr);
    grid-template-rows: 150px auto 200px;
    grid-template-areas:
      "h h h h h h h h h h"
      "m m m m m m m m m m"
      "f f f f f f f f f f";
  };

  @include mediaQueries('tablet') {
    // grid-template-rows: 80px auto 400px;

  };

  @include mediaQueries('laptop')(`
    ${boxProperty(`100%`,remsize(1500),'auto','0px', colors.$red)};
    grid-template-columns:repeat(10, 1fr);
    grid-template-rows: 80px auto 200px;
    grid-template-areas:
      "h h h h h h h h h h"
      "m m m m m m m m m m"
      "f f f f f f f f f f";

  `)}

};
